@import '../../main.module.scss';

.emptyAdverts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advertsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 90%;
}

.advertContainerList {
  height: 300px;
  width: 250px;
  border: solid 2px $primary-color;
  padding: 1rem;
  border-radius: 10px;
}

.error {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  background-color: rgba(218, 100, 100, 0.521);
  border: red 1px solid;
  border-radius: 10px;
  padding: 0.5rem;
}
