@import '../../main.module.scss';

.loginPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  span {
    color: $primary-color;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
  }

  .checkbox_container {
    display: flex;
    gap: 0.5rem;
  }
}
