@import '../../../main.module.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  nav {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
  }

  h1 {
    color: $primary-color;
  }
}
