@import '../../main.module.scss';

.container {
  width: 100%;
  margin: auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .filtersFieldset {
    display: flex;
    border: none;
    gap: 1rem;
  }

  .error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: rgba(218, 100, 100, 0.521);
    border: red 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
  }

  .filtersSelect {
    height: 35px;
    border-radius: 10px;
    border: 2px solid $primary-color;
  }
}
